.about-cont, .quest {
    display: flex;
    padding: 0rem 2rem 4rem 15%;
    padding-top: 5rem;
}
.about-h1 {
    padding-left: 20%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 3rem;
}
.image{
    background-color: whitesmoke;
    box-shadow: 10px 10px 8px #888888;
}
.image, .images {
    flex: 0 1 30%;
    padding: 1rem 0 1rem 2rem;
    transform: translateX(1rem);
    align-self: center;
    box-shadow: 10px 10px 8px #888888;
} 
.text, .qtext {
    flex: 1 1 50%;
    border: 2px solid black;
}
img {
    width: 100%;
}
.text {
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    height: auto;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 10px 10px 8px #888888;
}