.d-cont {
    display: flex;
    padding: 2rem 3rem 2rem 15%;
    box-sizing: border-box;
    flex-wrap: wrap;
    /* border: 10px solid #efb7b7; */
    /* background: #efb7b7; */
}
.doc{
    flex: 1 0 25%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 1rem;
    color: black;
    align-items: center;
    justify-content: center;
    background: #efb7b7;
    box-shadow: 10px 10px 8px #888888;
}
/* .d-img {
    width: 25rem;
    height: 25rem;
    display: inline-block;
} */
.docum {
    padding-left: 20%;
    font-weight: bold;
    font-size: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
}