.cont2 {
    background-color: whitesmoke;
    margin-left: 17%;
    padding: 1.5rem 0 1rem 5rem;
    width: 100%;
}
.row {
    flex-grow: 1;
    flex-basis: 100%;
}
.insta-img {
    width: 200%;
    height: 100%;
    padding: 1rem;
}