.canva-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}

.canva {
    border: 5px solid black;
    /* padding: 2rem 2rem 2rem 2rem; */
    /* margin-left: 15%; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #f0e5d8;
    border-radius: 10px;
}
canvas {
    flex: 0 1 60%;
}
.app-container h1 {
    padding-left: 20%;
    font-weight: bold;
    font-size: 50px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.g1-cont {
    display: flex;
    
    margin-left: 15%;
}
.display-area {
    flex: 1 0 60%;
    margin-top: 5rem;
    box-shadow: 10px 10px 8px #888888;
}
.scorecard {
    flex: 0 1 20%;
    border: 3px solid black;
    border-radius: 10px;
    margin: 1rem 0;
    background-color: whitesmoke;
    padding: 1rem;
    transform: translateX(-3rem);
    box-shadow: 10px 10px 8px #888888;
}
.inst {
    margin: 2rem 0;
    background-color: whitesmoke;
    box-shadow: 10px 10px 8px #888888;
}
#word-input {
    /* width: 30rem; */
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}
.g-ess {
    background-color: whitesmoke;
    padding-bottom: 1rem;
    box-shadow: 10px 10px 8px #888888;
}
/* .app-container1 {
    background-color: whitesmoke;
    margin-left: 30%;
    margin-right: 30%;
} */
.app-container {
    background-image: url(./images/test-bg-blur.jpeg);
}